@charset "UTF-8";

body {
	background-image: url(https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1536x1920/b609d55a104b86f8284e7ad9422efc71/photo-1604541805938-0503816622f4.jpg);
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}

.wrap-column {
	width: 272px;
}

.column {
	border-radius: 3px;
	background: #ebecf0;
	box-sizing: border-box;
	padding: 4px 8px;
}

.column-body {
	background: #fff;
	padding: 0px 4px;
	min-height: 20px;
}